@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* 深色模式下body样式 */
body.dark {
  background-color: #111827;
  color: #f9fafb;
}
